#calendarWidget {

  width: 100%;
  height: 70%;  
    
  & .container {
    display: flex;
    justify-content: space-evenly; 

    & .entrainement {
      background: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.85)), url(/img/team/event/entrainement.jpg);
      background-size: cover;
      background-position: bottom;   
    }

    & .match {
      background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.95)), url(/img/team/event/match.jpg);
      background-size: 150%;
      background-position: -40px -20px;   
    }

    & .event-card {
      display: flex;
      flex-direction: column;
      height: 120px;
      width: 150px;
      background-color: white;
      color: #212532;
      border-radius: 5px;
      box-shadow: 1px 1px 10px black;

      & .participate-col {
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: flex-end;
        position: relative;

        & .participate-text {
          padding: 0;
          position: absolute;
          bottom: 25px;
          font-size: .8em;
        }

        & .buttons-col {
          position: absolute;
          padding: 0;
          bottom:0         
        }
  
        & .btn {
          padding: 0;
          font-size: .9em;
          font-weight: bold;
          width: 50%;
          height: 40%;
          text-transform: uppercase;
        }
  
        & .btn-success {
          border-radius: 5px 0px 0px 5px;
          box-shadow: 0px -1px 5px #808080;
        }
        & .btn-danger {
          border-radius: 0px 5px 5px 0px;
          box-shadow: 0px -1px 5px #808080;
        }
      }    
    }
  }
}