#sections {

    & .section-title {
        text-align: left;
        font-family: Poppins;
        text-transform: uppercase;
        font-weight: normal;
    }
    & .section-content {
        text-align: left;
    }

    & .darken {
        background-color: #212532;
    }

    & .lighten {
        background-color: #414762;
    }
  

}

#section {
    padding: 6em 2em;
    margin:  0;

    & .right {
        display: flex;
        flex-direction: row-reverse;
    }
}