#footer {    
    padding: 1em;    
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #212532;

    & #footer-links a {
        color: white;
        padding: .3em;
    }
}