<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ email.subject }}</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            font-family: Helvetica, Arial, sans-serif;
        }
       
        h1 {
            background-color:  #212532;
            color: #ffffff;
            padding: 20px 0 20px 0;
            font-weight: normal;
        }
        .container {
            background-color: #fefefe;
            width: 580px;
            margin: 0 auto;
        }
        .block {
            margin: 0;
            padding: 10px 20px 20px 20px;
        }
        .logo {
            width: 100%;
            
        }
        .text-center {
            text-align: center;
        }
       
    </style>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
            
                <img class="logo" src="{{ absolute_url(asset('https://images.unsplash.com/photo-1527871252447-4ce32da643c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80')) }}"  alt="coupe-ballon">
            </a>
        </div>
        <div class="content">
            <h1 class="text-center">Nouveau match!</h1>
            <p class="block">
                Ton équipe à un match de prévu.
            </p>
            <div class="block">
                <a href="#">Clique ici pour valider ta présence</a>
            </div>
                
          
        </div>
        <div class="footer">
            <p class="block">
                L'équipe <em>O'Foot</em>
            </p>
           
        </div>
    </div>
</div>
</body>
</html>