{# Base.html.twig sert d'entrypoint pour notre React
    Ce n'est donc pas une bonne idée de l'extend.
    Welcome.html.twig ne devrait rien appeler en dehors de son namespae (templates/email)
#}
{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row d-flex">

        <div class="col">
            <h1 class="text-center">Bienvenue {{ email.toName }} !</h1>
            <div>
                <p>
                    <code>
                        {{ email.to[0].address }}
                    </code>
                </p>
                <p>
                    <a href="#">Veuillez cliquer ici pour activer votre compte.</a>
                </p>
            </div>
        </div>

        <div class="footer">
            <p class="block">
                L'équipe
                <em>O'Foot</em>
            </p>
        </div>

    </div>
</div>
{% endblock %}