{% extends "base.html.twig" %}

{% block body %}
	<div class="container">

		<div class="row d-flex">
			<div class="col">

				<h1 class="text-center">Bienvenue
					{{ email.toName }}!</h1>
				<p></p>
				<p>
					<code>{{ email.to[0].address }}</code>
				</p>

				<p>
					<a href="#">Cliquer ici pour vous valider votre email</a>

				</p>
				<p>LՎquipe O'Foot</p>
			</div>
		</div>
	</div>
{% endblock %}
