
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
        {% block title %}{{ email.subject }}{% endblock %}
    </title>
    {% block stylesheets %}

    {% endblock %}
</head>

<body>

    {% block body %}
    <div class="container">
        <div class="row d-flex">

            <div class="col">
                <h1 class="text-center">Bonjour et Bienvenue {{ email.toName }} !</h1>
                <div>
                    <p>
                        <code>
                        {{ email.to[0].address }}
                    </code>
                    </p>
                    <p>
                        <a href="#">Veuillez cliquer sur ce lien pour activer votre compte.</a>
                    </p>
                </div>
            </div>

            <div class="footer">
                <p class="block">
                    L'équipe
                    <em>O'Foot</em>
                </p>
            </div>

        </div>
    </div>
    {% endblock %}
    
</body>

</html>

