#header {
  font-family: Poppins;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#101219, #222736);
  box-shadow: 1px 1px 10px black;
  color: white;
  padding: 0;

    & a {
      padding: .3em 1em;
    }

    & .header-title {
      font-weight: bold;
      color: white;
    }   
    & img {
      margin-right: 10px;
      height: 50px;
    } 
    & .dropdown {
      color: white;
    }
}

#header .nav-link {
  color: white;
}

// Override Bootsrap CSS
#header .dropdown-link {
  color: inherit;
  display: flex;
  padding: .5em 1em;
}
/* #header .dropdown-link:hover {
  text-decoration: none;
  background-color: #f8f9fa;
} */
#header .dropdown-menu {
  min-width: 10.2rem;
}
#header .navbar-toggler {
  color: white;
}
#header .navbar-toggler:focus {
  outline: none;
}

@media screen and (max-width:992px){
  #header .dropdown-link:hover {
    background-color: rgba(#f8f9fa, .15);
  }
}