#userProfile {
  margin: 2em 0;
  color: #212532;

  & .sweatband {
    padding: 4em;
    background: linear-gradient( rgba(0, 0, 0, .55), rgba(0, 0, 0, 0.70) ),url('/img/userProfil_bg.jpg');    
    background-size: cover;
    background-position: center;
    margin-bottom: 2em;
    color: white;
  }

  & .user-infos {
    & .avatar-custom {
      object-fit: cover;
    }
  }

  & .avatar-custom {
    object-fit: contain;
  }

  & .container {
    margin: 1em auto;
}

}