#qui-sommes-nous {

    display: flex;
    flex-direction: column;
    align-self: center;

    & .header {
        padding: 6em 2em;
        margin:  0;
        position: relative;
    }

     & .header-h1 {
        text-align: center;
        font-family: Poppins;
        text-transform: uppercase;
        font-weight: normal;
        color: #ef6c00;
        position: relative;
        margin-bottom: 4em;
    }

     & .header-title {
        margin: 0 auto 2em;
        font-weight: 700;
        letter-spacing: 0.12em;
        height: 3.5em;
        line-height: 3.5em;
        margin-top: 4em;
        margin-bottom: 4em;
        width: 14em;
        background: #ef6c00;
        position : absolute;
        left: 45%;
        top: 60%;
    }

    & .section {
        margin: 0 auto 2em;
    }
}