#home {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-self: center;


  & .home-title {
    margin: 1em 0;
  }
  & .home-subtitle {
    width: 70%;
    margin: 0 auto 2em;
  } 
  & .home-buttons {
    margin: 0 auto 2em;
  }
}