#userEdit {
  margin: 2em; 
  
  & .input {
    margin: .5em 0;
  }

  & button {
    margin-top: 1em;
  } 

  & label {
    font-weight: 700;
  }

  & .wrong {
    border-left: 4px solid #f44336; 
  }
  
}
