p {
  font-family: "Open Sans";
  font-size: 14px;
}

#app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white;
  font-family: Poppins;
  width: 100%;
  font-size: 14px;

  .primary {
    // Test 
    color: #ef6c00;
    // Test

    // Valeur sûre 
    /* color: #0288d1; */
  }

  .btn-success {
    background-color: #81c784;
    border-color: #66bb6a;
  }

  .btn-success:hover {
    background-color: #4caf50;
    border-color: #66bb6a;
  }

  .btn-danger {
    background-color: #e57373;
    border-color: #ef5350;
  }

  .btn-danger:hover {
    background-color: #f44336;
    border-color: #ef5350;
  }

  & .btn-primary {
    // Test 
    background-color: #ef6c00;
    border: #c55900;
    // Test

    // Valeur sûre
    /* background-color: #0288d1;
    border: #29b6f6; */
  }
}

.modal-content {
  & .custom-btn {
    background-color: #ef6c00;
    border: #c55900;
  }

  & .custom-btn:hover {
    background-color: #ec6a00;
    border: #c55900;
  }

  & .custom-btn:focus, .custom-btn:active, .custom-btn:not(:disabled):not(.disabled):active {
    background-color: #ef6c00;
    border: #c55900;
    box-shadow: 0 0 0 0.2rem rgba(239, 108, 0, .5);
  }

  & input {
    margin: .5em 0;
  }
}