#app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color:#31364A;
  color:white;
  font-family: Poppins;

  & .btn-primary {
    background-color: #ff6f00;
    border: #e65100;
  }
}
